experiment_name: "model_a_baseline_biomedclip"

data:
  json_path: "/workspace/mimic_moro232_stratified.jsonl"
  image_root: "/datasets/MIMIC-CXR/files"
  batch_size: 96
  num_workers: 4
  image_size: 224

model:
  vision_backbone: "hf-hub:microsoft/BiomedCLIP-PubMedBERT_256-vit_base_patch16_224"
  text_backbone: "hf-hub:microsoft/BiomedCLIP-PubMedBERT_256-vit_base_patch16_224"
  mask_ratio: 0.5
  temperature: 0.1
  use_masking: false
  use_sparsity_loss: false

  use_local_alignment: false
  local_alignment_weight: 0.1
  local_alignment_temperature: 0.7

training:
  epochs: 40
  lr: 5.0e-6
  weight_decay: 0.01
  warmup_steps: 1000
  early_stopping_patience: 13
  print_freq: 50
  device: "cuda"
  use_amp: true
  gradient_accumulation_steps: 2

wandb:
  enable: true
  project: "Thesis-PatchIB"
  run_name: "model-a-baseline"
